html{
    background-color: rgb(212, 212, 212);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
}

#root{
    width: 100%;
    background-color: rgba(53, 53, 53, 0.377);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

